{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'blogApp/blog_details.css' %}" />
{% for detail in blog_elements %}
<div class="blog-section">
  <div class="blog-content">
    <h2 class="blog-title">{{detail.title}}</h2>
    <img src="{{detail.blog_img.url}}" alt="Blog Image" class="image-section" />
    <p class="blog-description">{{detail.blog_content}}</p>
    {% if user.is_authenticated %}
        {% if request.user == detail.author %}
        <a href="{% url 'update_blog_post' detail.id %}" class="btn_btn">Update</a>
        <a href="{% url 'delete_blog_post' detail.id %}" class="delete">Delete</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'home' %}" class="btn_btn">Back</a>
  </div>
</div>
{% endfor %} {% endblock %}
