body {
    width: 100%;
    background-color: #e3dfdf;
}

.blog-card {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}


.blog-content {
    padding: 20px;
    width: 400px;
}

.image-section {
    width: 200px;
}

.blog-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-description {
    font-size: 14px;
    margin-bottom: 15px;
}

.btn_btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn_btn:hover {
    background-color: #45a049;
}

.delete {
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}